<!DOCTYPE html>
<html>
    <head>
        <title>TestPage</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>This is a page using for checking a number is a prime or not</h1>
        <div>
            <form action="/test" method="POST">
                <label>Input number</label>
                <input placeholder="type some info" name="testingInput"><br><br>
                <button type="submit">Check</button><br><br><br><br>
            </form>
            <p><%= answerInput %></p>
        </div>
        <form action="/" method="POST">
            <p>Return back the main page</p>
            <button style="color: red; background-color:aqua" type="submit">Back</button>
        </form>
    </body>
</html>