<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">
        <p class="author-sign">
            <%= nameOfUser %>
        </p>
        <% for (let i=0; i < newListItems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <% } %>
                <form class="item" action="/" method="POST">
                    <label for="to-do-label">Type things you need to do:</label>
                    <input type="text" placeholder="New Item" name="newItem" autocomplete="off"><br><br>
                    <button type="submit">+</button><br><br><br><br>
                </form>
    </div>
    <form action="/test" method="POST">
        <p>Next Function Page</p>
        <button class="button-next" type="submit">Next Page</button>
    </form>
</body>

</html>